<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javaapi.mapper.RumorMapper">
    <select id="selectAllData" resultType="com.example.javaapi.entity.RumorInfo">
        select * from `rumortable`
    </select>
    <insert id="addOneData" parameterType="com.example.javaapi.entity.RumorInfo">
        insert into `rumortable` (`id`,`rumorText`,`isRumor`)
        values(#{id},#{rumorText},#{isRumor})
    </insert>
</mapper>